#categoryButtons{
  position: fixed;
  top: 67px;
  background-color: whitesmoke;
  width: 100%;
  z-index: 9999;
}

#foodRender{
  top: 135px;
  padding-bottom: 72px;
  position: absolute;
}

#eachBtn {
  margin: 5px 0;
  padding: 0 25px
}